.right-align {
  float: right;
  margin-left: 30px;
}

/* Add any additional styles here */
.background-style {
  background-color: blue
  margin: 0 auto;
  padding: 12px;
  text-align: .right-align;
}
